<form
  (ngSubmit)="login()"
  [formGroup]="formGroup"
  class="card"
>

  <div class="flex flex-wrap align-items-center justify-content-center">
    <div class="border-round w-30-rem p-3 m-3 surface-50">
      <h1>Login de usuário</h1>

      <div class="field">
        <label for="login">
          Login
        </label>
        <input
          pInputText
          formControlName="login"
          type="text"
          autofocus
          id="login"
          class="inputfield w-full bg-primary-reverse"
        />
      </div>

      <div class="field">
        <label for="senha">
          Senha
        </label>
        <input
          pInputText
          formControlName="senha"
          type="text"
          id="senha"
          class="inputfield w-full bg-primary-reverse"
        />
      </div>

      <button
        pButton
        [disabled]="formGroup.invalid"
        icon="pi pi-sign-in"
        type="submit"
        label="Login"
        class="p-button-primary"
      >
      </button>

    </div>
  </div>

</form>
