<form
  (ngSubmit)="salvar()"
  [formGroup]="formGroup"
  class="card"
>

  <div class="field">
    <label
      for="titulo"
      class="font-bold"
    >
      Título
    </label>
    <input
      pInputText
      formControlName="titulo"
      id="titulo"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="Ex.: Blogs de gatinhos fofinhos"
    />
    <small>
      Título que aparecerá na lista de artigos.
    </small>
  </div>

  <div class="field">
    <label
      for="descricao"
      class="font-bold"
    >
      Descrição
    </label>
    <input
      pInputText
      formControlName="descricao"
      id="descricao"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="Ex.: Lista de blogs com temática pet, com foco em gatinhos"
    />
    <small>
      Frase descritiva do artigo.
    </small>
  </div>

  <div class="field">
    <label
      for="imagem"
      class="font-bold"
    >
      Imagem (URL)
    </label>
    <input
      pInputText
      formControlName="imagem"
      id="imagem"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="Ex.: http://tudosobregatinhosfofinhos.net/muitofofo.jpg"
    />
    <small>
      Endereço da imagem que será carregada na lista de artigos.
    </small>
  </div>

  <div class="field">
    <label
      for="url"
      class="font-bold"
    >
      URL do artigo
    </label>
    <input
      pInputText
      formControlName="url"
      id="url"
      type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="Ex.: http://tudosobregatinhosfofinhos.net/posts/2021-03-12/"
    />
    <small>
      Endereço para acesso ao artigo completo.
    </small>
  </div>

  <button
    pButton
    icon="pi pi-save"
    type="submit"
    label="Salvar"
  >
  </button>

</form>
